<!DOCTYPE html>
<html>
  <head>
    <title>Assignment 8B also</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <p>text input field: <%= data.firsttext %> </p>
      <br>
      <p>second text input field: <%= data.secondtext %></p>
      <br>
      <p>third text input field: <%= data.thirdtext %> </p>
      </form>
  </body>
</html>