<!DOCTYPE html>
<html>
  <head>
    <title>Assignment 8B</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <label for >text input field: </label>
      <input type="text" name="firsttext" id="firsttext" required="required"/>
      <br>
      <label>second text input field:</label>
      <input type="text" name="secondtext" id="secondtext" required="required"/>
      <br>
      <label for >third text input field: </label>
      <input type="text" name="thirdtext" id="thirdtext" required="required"/>
      <br>
      </form>
      <br>
      <input type="submit" name="submitbutton" value= "Submit" />
  </body>
</html>